@use "../variable" as *;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  border-radius: 999px;
  font-weight: 600;
  font-size: 0.95rem;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background: $color-primary;
  color: $color-text-on-dark;
}

.btn-secondary {
  background: $color-primary-soft;
  color: $color-bg-surface;
}